<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: site-head" />
<body>
<header th:replace="layout :: site-header" />

<div style="text-align:center" class="mb-5">
    <a href="/pictures/add">
        <button type="button" class="btn btn-primary">Add Picture</button>
    </a>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-6 mb-4" th:each="currPicture : ${pictures}">
            <div class="card" style="width: 20rem;">
                <img style="width: inherit; height: auto" th:src="@{'data:image/png;base64,'+${currPicture.picture}}" />
                <div class="card-block">
                    <h4 th:text="${currPicture.title}" class="card-title"></h4>
                    <span>Added By: </span>
                    <span th:text="${currPicture.addedByUsername}"></span>
                </div>

                <div class="row justify-content-between" style="padding-right: 24px; padding-bottom: 9px; padding-left: 24px">
                    <div th:id="id + ${currPicture.id}" class="btn btn-secondary btn-sm dropdown-toggle col-sm-4" th:classappend="*{#lists.isEmpty(currPicture.likedBy)} ? 'disabled' : 'enabled'" onmouseover="onLikedByHover(this)" onmouseout="onLikedByOut(this)" th:value="${currPicture.id}">
                        Liked By:
                        <div th:id="${currPicture.id}" style="display: none;">
                            <div th:each="user : ${currPicture.likedBy}">
                                <a th:href="@{'/user/' + ${user.id}}">
                                    <div class="list-group-item" th:classappend="${user.id}" th:text="${user.username}"></div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <button th:if="${currPicture.isLikedByCurrentUser} == false" type="button" class="btn btn-primary btn-sm col-sm-3" onclick="like(this, 'pictures')" th:value="${currPicture.id}">Like</button>
                    <button th:if="${currPicture.isLikedByCurrentUser} == true" type="button" class="btn btn-primary btn-sm col-sm-3" onclick="unlike(this, 'pictures')" th:value="${currPicture.id}">Unlike</button>
                </div>

            </div>
        </div>
    </div>
</div>

<nav aria-label="Page navigation" th:if="${pictures.getTotalPages() > 0}">
    <ul class="pagination">
        <li class="page-item" th:classappend="!${pictures.hasPrevious()} ? 'disabled'"><a class="page-link" href="#" th:href="${pictures.hasPrevious()} ? '/pictures?page=' + ${pictures.previousPageable().getPageNumber()}">Previous</a></li>
        <li class="page-item" th:each="i : ${#numbers.sequence(0, pictures.getTotalPages() - 1)}">
            <a class="page-link" href="#" th:href="|/pictures?page=${i}|" th:text="${i + 1}">1</a>
        </li>
        <li class="page-item" th:classappend="!${pictures.hasNext()} ? 'disabled'"><a class="page-link" href="#" th:href="${pictures.hasNext()} ? '/pictures?page=' + ${pictures.nextPageable().getPageNumber()}">Next</a></li>
    </ul>
</nav>

<input id="loggedInUser" type="hidden" th:value="${#authentication.getPrincipal().getUsername()}" />
<input id="loggedInUserId" type="hidden" th:value="${#authentication.getPrincipal().getId()}" />

<footer th:replace="layout :: site-footer" />

<script th:src="@{scripts/likeFunctionality.js}"></script>

</body>
</html>