<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: site-head" />
<body>
<header th:replace="layout :: site-header" />

<div style="text-align:center" class="mb-5">
    <a href="/quotes/add">
        <button type="button" class="btn btn-primary">Add Quote</button>
    </a>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-6 mb-4" th:each="quote : ${quotes}" th:object="${quote}">
            <div class="card">
                <div class="card-header">
                    Quote
                </div>
                <div class="card-block">
                    <blockquote class="card-blockquote">
                        <p th:text="*{content}"></p>
                        <footer class="text-right" th:text="*{author}"></footer>
                    </blockquote>
                    <span>Added By: </span>
                    <span th:text="*{addedByUsername}"></span>
                    <div th:id="id + *{id}">
                        Liked By:
                        <div th:each="user : *{likedBy}">
                            <div th:text="${user.username}"></div>
                        </div>
                    </div>
                </div>
                <button onclick="likeQuote(this)" th:value="*{id}">Like</button>
            </div>
        </div>
    </div>
</div>

<nav aria-label="Page navigation" th:if="${quotes.getTotalPages() > 0}">
    <ul class="pagination">
        <li class="page-item" th:classappend="!${quotes.hasPrevious()} ? 'disabled'"><a class="page-link" href="#" th:href="${quotes.hasPrevious()} ? '/quotes?page=' + ${quotes.previousPageable().getPageNumber()}">Previous</a></li>
        <li class="page-item" th:each="i : ${#numbers.sequence(0, quotes.getTotalPages() - 1)}">
            <a class="page-link" href="#" th:href="|/quotes?page=${i}|" th:text="${i + 1}">1</a>
        </li>
        <li class="page-item" th:classappend="!${quotes.hasNext()} ? 'disabled'"><a class="page-link" href="#" th:href="${quotes.hasNext()} ? '/quotes?page=' + ${quotes.nextPageable().getPageNumber()}">Next</a></li>
    </ul>
</nav>
<input id="loggedInUser" type="hidden" th:value="${#authentication.getPrincipal().getUsername()}" />

<footer th:replace="layout :: site-footer" />
</body>
</html>

<script type="text/javascript">

    function likeQuote(elem) {
        var quoteId = elem.value;
        $.ajax({
            type: 'POST',
            url: '/quotes/like/' + quoteId,
            success: addNewLike(quoteId)
        });
    }

    function addNewLike(quoteId) {
        var currentUsername = $('#loggedInUser').val();
        var newDiv = document.createElement("div");
        var newContent = document.createTextNode(currentUsername);
        newDiv.appendChild(newContent);
        $('#id' + quoteId).append(newDiv);
    }

</script>