<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="layout :: site-head" />
<body>
<header th:replace="layout :: site-header" />

<h1 style="text-align: center;" th:text="${fullName}"></h1>
<h3 style="text-align: center;" th:text="${username}"></h3>

<h4>Quotes added by this user: </h4>
<div class="container">
    <div class="row">
        <div class="col-sm-6 mb-4" th:each="quote : ${addedQuotes}" th:object="${quote}">
            <div class="card">
                <div class="card-header">
                    Quote
                </div>
                <div class="card-block">
                    <blockquote class="card-blockquote">
                        <p th:text="*{content}"></p>
                        <footer class="text-right" th:text="*{author}"></footer>
                    </blockquote>
                    <span>Added By: </span>
                    <span th:text="*{addedByUsername}"></span>
                </div>
            </div>
        </div>
    </div>
</div>

<h4>Quotes liked by this user: </h4>
<div class="container">
    <div class="row">
        <div class="col-sm-6 mb-4" th:each="quote : ${likedQuotes}" th:object="${quote}">
            <div class="card">
                <div class="card-header">
                    Quote
                </div>
                <div class="card-block">
                    <blockquote class="card-blockquote">
                        <p th:text="*{content}"></p>
                        <footer class="text-right" th:text="*{author}"></footer>
                    </blockquote>
                    <span>Added By: </span>
                    <span th:text="*{addedByUsername}"></span>
                </div>
            </div>
        </div>
    </div>
</div>

<footer th:replace="layout :: site-footer" />
</body>
</html>