<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="layout :: site-head" />
<body>
<header th:replace="layout :: site-header" />

<h1 style="text-align: center;" th:text="${fullName}"></h1>
<h3 style="text-align: center;" th:text="${username}"></h3>

<div class="container">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a id="quotesButton" class="nav-link active" href="#!" onclick="showQuotes()">Quotes</a>
        </li>
        <li class="nav-item">
            <a id="picturesButton" class="nav-link" href="#!" onclick="showPictures()">Pictures</a>
        </li>
        <li class="nav-item">
            <a id="storiesButton" class="nav-link" href="#!" onclick="showStories()">Stories</a>
        </li>
        <li class="nav-item">
            <a id="moviesButton" class="nav-link" href="#!" onclick="showMovies()">Movies</a>
        </li>
    </ul>
</div>

<div id="quotes">
    <div class="container">
        <h4>Quotes added by this user: </h4>
        <div class="row">
            <div class="col-sm-6 mb-4" th:each="quote : ${addedQuotes}" th:object="${quote}">
                <div class="card">
                    <div class="card-header">
                        Quote
                    </div>
                    <div class="card-block">
                        <blockquote class="card-blockquote">
                            <p th:text="*{content}"></p>
                            <footer class="text-right" th:text="*{author}"></footer>
                        </blockquote>
                        <span>Added By: </span>
                        <span th:text="*{addedByUsername}"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <h4>Quotes liked by this user: </h4>
        <div class="row">
            <div class="col-sm-6 mb-4" th:each="quote : ${likedQuotes}" th:object="${quote}">
                <div class="card">
                    <div class="card-header">
                        Quote
                    </div>
                    <div class="card-block">
                        <blockquote class="card-blockquote">
                            <p th:text="*{content}"></p>
                            <footer class="text-right" th:text="*{author}"></footer>
                        </blockquote>
                        <span>Added By: </span>
                        <span th:text="*{addedByUsername}"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="pictures" style="display: none">
    <div class="container">
        <h4>Pictures added by this user: </h4>
        <div class="row">
            <div class="col-sm-6 mb-4" th:each="currPicture : ${addedPictures}">
                <div class="card" style="width: 20rem;">
                    <img style="width: inherit; height: auto" th:src="@{'data:image/png;base64,'+${currPicture.picture}}" />
                    <div class="card-block">
                        <h4 th:text="${currPicture.title}" class="card-title"></h4>
                        <span>Added By: </span>
                        <span th:text="${currPicture.addedByUsername}"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <h4>Pictures liked by this user: </h4>
        <div class="row">
            <div class="col-sm-6 mb-4" th:each="currPicture : ${likedPictures}">
                <div class="card" style="width: 20rem;">
                    <img style="width: inherit; height: auto" th:src="@{'data:image/png;base64,'+${currPicture.picture}}" />
                    <div class="card-block">
                        <h4 th:text="${currPicture.title}" class="card-title"></h4>
                        <span>Added By: </span>
                        <span th:text="${currPicture.addedByUsername}"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="stories" style="display: none">
    <div class="container">
        <h4>Stories added by this user: </h4>
        <div class="row">
            <div class="col-sm-6 mb-4" th:each="story : ${addedStories}" th:object="${story}">
                <div class="card">
                    <div class="card-header">
                        Story
                    </div>
                    <div class="card-block">
                        <h4 class="card-title" th:text="*{person}"></h4>
                        <p class="card-text" th:text="*{content}"></p>

                        <span>Added By: </span>
                        <span th:text="*{addedByUsername}"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <h4>Stories liked by this user: </h4>
        <div class="row">
            <div class="col-sm-6 mb-4" th:each="story : ${likedStories}" th:object="${story}">
                <div class="card">
                    <div class="card-header">
                        Story
                    </div>
                    <div class="card-block">
                        <h4 class="card-title" th:text="*{person}"></h4>
                        <p class="card-text" th:text="*{content}"></p>

                        <span>Added By: </span>
                        <span th:text="*{addedByUsername}"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="movies" style="display: none">
    <div class="container">
        <h4>Movies added by this user: </h4>
        <div class="row">
            <div class="col-sm-6 mb-4" th:each="movie : ${addedMovies}">
                <div class="card" style="width: 20rem;">
                    <img style="width: inherit; height: auto" th:src="*{movie.posterLink}" />
                    <div class="card-block">
                        <h4 th:text="*{movie.title}" class="card-title"></h4>
                        <h6 th:text="'Year: ' + *{movie.year}"></h6>
                        <h6 th:text="'Genre: ' + *{movie.genre}"></h6>
                        <div th:text="*{movie.description}"></div>
                        <span>Added By: </span>
                        <span th:text="*{movie.addedByUsername}"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <h4>Movies liked by this user: </h4>
        <div class="row">
            <div class="col-sm-6 mb-4" th:each="movie : ${likedMovies}">
                <div class="card" style="width: 20rem;">
                    <img style="width: inherit; height: auto" th:src="*{movie.posterLink}" />
                    <div class="card-block">
                        <h4 th:text="*{movie.title}" class="card-title"></h4>
                        <h6 th:text="'Year: ' + *{movie.year}"></h6>
                        <h6 th:text="'Genre: ' + *{movie.genre}"></h6>
                        <div th:text="*{movie.description}"></div>
                        <span>Added By: </span>
                        <span th:text="*{movie.addedByUsername}"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer th:replace="layout :: site-footer" />

<script th:src="@{scripts/userPage.js}"></script>

</body>
</html>